@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#fotoizy {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#apresentacaoizy{
    display: flex;
    align-items: center;
    gap: 25px;
}

    #apresentacaoizy #nomeizy{
        text-align: left;
    }

#formacaoizy {
    gap: 30px;
    text-align: justify;
}

#objetivoizy{
    text-align: justify;
}


#apresentacaoizy, #formacaoizy, #objetivoizy, #experienciaizy, #habilidadeizy, #idiomaizy {
    border-bottom: 4px solid #800020;
    padding: 10px 0;
}

#curriculoizy{
    max-width: 800px;
    margin: 20px auto;
    border: 2px solid #800020;
    border-radius: 15px;
    padding: 20px;
}

#izybody {
    background-color: #f7daea;
    
}
