@page "/CurriculoIzy"
<link rel="stylesheet" href="Css/StyleIzy.css" />

<body id="izybody">
	<div class="curriculo" id="izycurriculo">
		<div class="apresenta" id="apresentacaoizy">
			<img src="Imagem/Izy.jpg" class="imagem" id="fotoizy">
			<div class="nome" id="nomeizy">
				<h1> Iziany da Silva Onorio</h1>
				<p>Aluna do Ensino Técnico em Informática</p>
				<h2>Contato</h2>
				<p> <i class="fa-solid fa-phone"></i>(69) 93300-9091</p>
				<p> <i class="fa-solid fa-envelope-circle-check"></i>izianyonorio@gmail.com</p>
				<p> <i class="fa-solid fa-map-pin"></i> Endereço: Ji-Paraná, Ro<br/> GreenPark, Rua Amarilis </p>
			</div>

		</div>

		<div class="formacao" id="formacaoizy">
			<h1> Formação e Cursos</h1>
			<p> 2019 - 2022 Ensino Fundamental </p>
			<p> 2023 - hoje Ensino Medio em andamento</p>
			<p> 2023 - hoje Curso Técnico em andamento </p>
			<p> 2023 - 2023 Mini Curso de Python</p>
			<p> 2023 - 2023 Curso de Robotica Lego</p>
			<p> 2023 - 2023 Mini Curso GitHub basico</p>
			<p> 2024 - 2025 Projeto: ClusterPi - Uma Solução Computacional de Alto Desempenho usando a Plataforma Raspberry Pi</p>
			<p> 2025 - Hoje Projeto: Do Sequencial ao Paralelo: Análise de Desempenho Computacional em Arquiteturas MIMD</p>
		</div>
		<div class="objetivo" id="objetivoizy">
			<h1> Objetivo</h1>
			<p>Busco o meu primeiro emprego na área de Informática, com o objetivo de aplicar <br />e desenvolver meus conhecimentos e habilidades</p>
		</div>
		<div class="experiencia" id="experienciaizy">
			<h1>Experiencias</h1>
			<p>Não tenho experiencia no mercado de trabalho, trabalho apenas em projetos dentro da propria Instituição</p>
		</div>
		<div class="habilidades" id="habilidadeizy">
			<h1>Habilidade</h1>
			<p><i class="fa-solid fa-arrow-right"></i> Programo em C e em C#</p>
			<p><i class="fa-solid fa-arrow-right"></i> OpenMP trabalhado em C</p>
			<p><i class="fa-solid fa-arrow-right"></i> Aprendo rapido</p>

		</div>
		<div class="idioma" id="idiomaizy">
			<h1>
				Idiomas
			</h1>
			<p>Português</p>
			<p>Espanhol basico</p>
			<p>Inglês basico (apenas Leitura)</p>
		</div>
	</div>

</body>
@code {

}
