@page "/CurriculoKetly"
@rendermode InteractiveServer
@layout Layout.BaseLayout

<PageTitle>Curriculo</PageTitle>

<div class="nomeFoto">
    <img class="imagem" src="./foto.jpg" alt="Foto da pessoa que fez o site" />
    <h1>Ketly Soares Freire</h1>
</div>

<p>
    Tem 18 anos, mora em Ji-Paraná - RO, é solteira e está cursando o ensino Técnico em Informática
    Integrado ao Ensino médio no IFRO.
</p>

<div class="container-flex">
    <div class="coluna-flex">
        <h1 class="titulo">Contato</h1>
        <p>Endereço: Rua Travessa Poconé, nº 204, bairro 2 de Abril, Ji-Paraná - RO</p>
        <p>Telefone: +55 (69) 9 9269-3385</p>
        <p>Email: ketlyfreire21@gmail.com</p>
        <NavLink class="link" href="http://lattes.cnpq.br/6218595471564537">Curriculo Lattes</NavLink>
        <NavLink class="link" href="https://www.instagram.com/ketlysf?igsh=ZXFnODBkeHA2Njh3">Instagram</NavLink>
        <NavLink class="link" href="https://github.com/ketlysff">GitHub</NavLink>
        <h1 class="titulo">Formação Acadêmica</h1>
        <p>
            Instituto Federal de Educação, Ciência e Tecnologia de Rondônia - Campus Ji-Paraná
            (2023 - 2025)
        </p>
        <p>Técnico em Informática Integrado ao Ensino Médio, Cursando.</p>
    </div>

    <div class="coluna-flex">
        <h1 class="titulo">Experiência</h1>
        <p>Domina o básico de C#, C, Python, HTML, GitHub e RaspberryPi.</p>
        <div class="habilidade">
            <h1 class="titulo">Habilidades</h1>
            <p>Liderança</p>
            <p>Solução de problemas</p>
            <p>Organização</p>
            <p>Automotivação</p>
            <p>Pacote Office básico/avançado</p>
            <p>Inglês básico/avançado</p>
        </div>
    </div>
</div>

@code {

}