@page "/"

<PageTitle>Home</PageTitle>

<h1>Olá!</h1>
<p>Seja bem-vindo(a).</p>
<p>
    Este site foi criado no intuito de demonstrar nossos conhecimentos em HTML e CSS,
    implementando-os no Blazzor.
</p>
<p>
    No menu da barra lateral é possível acessar os botões "Home" (que é onde você está), "Curriculo Iziany" (onde contém
    suas informações acadêmicas/profissionais), "Curriculo Ketly" (onde contém suas informações acadêmicas/profissionais)
    e "Curriculo Maria Eduarda" (onde contém suas informações acadêmicas/profissionais).
</p>
