<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="Imagens/maria.jpg" />
    <link rel="stylesheet" href="Imagens/Izy.jpg" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Css/StyleDuda.css"/>
    <link rel="stylesheet" href="Css/StyleIzy.css" />
    <link rel="stylesheet" href="Css/StyleKet.css" />
    <link rel="stylesheet" href="Nosso_Curriculo_Izy_Ket_Duda.styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"   />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
